.gallery__home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: #5c5c5c;
}

.gallery__page {
  width: 85%;
  display: grid;
  grid-column-gap: 4%;
  grid-template-columns: 20% 76%;
}

.gallery__details h1 {
  text-align: center;
  margin-top: 12rem;
  font-size: 5.5rem;
  color: rgb(234, 234, 234);
}
