.gallery__home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.gallery__page {
  width: 75%;
  display: grid;
  grid-column-gap: 4%;
  grid-template-columns: 20% 76%;
}
