.home__page {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #0057d7,
    #4050df,
    #6445e4,
    #8433e5,
    #a300e3
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.users__container {
  width: 35%;
  height: 70%;
  background-color: white;
  border-radius: 1.5rem;
}

.loader {
  margin-top: 5rem;
}

.heading {
  height: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(232, 232, 232);
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}

.user__list {
  height: 78%;
  overflow: auto;
}

.accounts {
  display: flex;
  flex-direction: column;
}

.loading {
  text-align: center;
}

.individual__user {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 2rem;
}

.individual__user::before {
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 2px solid rgb(230, 230, 230);
  width: 90%;
}

.profile__pic {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.username {
  cursor: pointer;
}

.user__link {
  text-decoration: none;
}

.user__list::-webkit-scrollbar {
  width: 0.5rem;
  margin: 5rem 0;
}
.user__list::-webkit-scrollbar-track {
  background-color: #eff4ff;
  border-radius: 10px;
}
.user__list::-webkit-scrollbar-thumb {
  background-color: #172b4d;
  border-radius: 10px;
}
